.music-list-default-num {
  
}

.music-list-thumbnail {
  visibility: hidden;
}

.music-list-id {
  visibility: hidden;
}

.music-list-title {
  visibility: hidden;
}

.music-list-options {
    visibility: hidden;
    min-width: 50px; 
    width: 50px; 
    text-align: right; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.music-list-duration {
  visibility: hidden;
}

.music-list-artist {
  visibility: hidden;
}

.music-list-album {
  visibility: hidden;
}

.music-list-delete {
  visibility: hidden;
}

table:hover music-list-options {
  visibility: visible; !important
}